
body {background-color: rgb(255, 168, 212);}
h1{text-align: justify;
color: darkorchid;
font-family: fantasy;}
p{font-family: fantasy;
font-size: medium;
color: deeppink;}
h2{text-align: justify; 
    color: darkmagenta;
    font-family: Georgia, 'Times New Roman', Times, serif;}
